.plancontainer{
    margin:1rem auto;
    max-width:1024px;
    display:flex;
    flex-direction:column;
    gap: 1rem;
    padding:1rem;
    background-color: slategray;
    border-radius: 13px;
}

.plancontainer h1 {
    text-align: center;
    margin:1rem;
}

.plancontainer .bloque {
    border: 1px solid #333;
    display: flex;
    flex-direction:row;
    gap: 1rem;
    align-items: center;
}

.plancontainer .bloque .bloque_label {
    padding:1rem;
    width: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.plancontainer .bloque .bloque_clases {
    display: flex;
    flex:1;
    flex-wrap: wrap;
    gap:0.75rem;
    padding:0.5rem;
}
.plancontainer .bloque .bloque_clases .bloqueClase {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    padding:0.75rem;
    flex-direction: column;
    font-size: 0.75rem;
    border: 1 solid #555;
    box-shadow: 3px 3px 5px #000;
    border-radius: 7px;
    width: 8rem;
    background-color:#fff;
    cursor: pointer;
}
.plancontainer .bloque .bloque_clases .bloqueClase:hover {
    background-color: rgba(252, 255, 78, 0.9);
}

.plancontainer .bloque .bloque_clases .bloqueClase.clase_requisito{
    background-color: rgba(0, 229, 255, 0.9);
}

.plancontainer .bloque .bloque_clases .bloqueClase.clase_apertura{
    background-color: rgba(255, 120, 199, 0.9);
    color:white;
}

.plancontainer .bloque .bloque_clases .bloqueClase span:nth-child(3) {
    position: absolute;
    right:0.5rem;
    top:0.5rem;
}