* {
    box-sizing: border-box;
    font-family: "Roboto", "Arial" , sans-serif;
}

body {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: #002080;
    color: white;
    padding: 0.3rem;
    text-align: center;
}

.plancontainer{
    margin: 1rem auto;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding:1rem;
    background-color: #f6f6f6;
    border-radius: 13px;
}

.plancontainer h3 {
    text-align: center;
}

.plancontainer .bloque {
    border: 1px solid #d4d4d4;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(to right, #eeeeee, #f6f6f6);
}

.plancontainer .bloque .bloque_label {
    padding: 1rem;
    width: 3.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.plancontainer .bloque .bloque_clases {
    display: flex;
    flex:2;
    flex-wrap: wrap;
    gap: 0.75rem;
    padding: 0.5rem;
}
.plancontainer .bloque .bloque_clases .bloqueClase {
    display: flex;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.75rem;
    flex-direction: column;
    font-size: 0.75rem;
    border: 1 solid #555;
    box-shadow: 1px 1px 3px #cacaca;
    border-radius: 7px;
    width: 10rem;
    cursor: pointer;
}

.plancontainer .bloque .bloque_clases .bloqueClase:hover {
    background-color: rgba(254, 255, 212, 0.9);
}

.plancontainer .bloque .bloque_clases .bloqueClase.clase_requisito{
    background-color: rgba(183, 248, 255, 0.9);
}

.plancontainer .bloque .bloque_clases .bloqueClase.clase_apertura{
    background-color: rgba(255, 190, 253, 0.9);
}

.plancontainer .bloque .bloque_clases .bloqueClase span:nth-child(3) {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.estado-aprobado {
    background-color: #d4edda;
    color: #155724;
}

.estado-reprobado {
    background-color: #f8d7da;
    color: #721c24;
}

.estado-pendiente {
    background-color: #ffffff;
    color: rgb(26, 26, 26);
}

.estado-cursando {
    background-color: #fff3cd;
    color: #856404;
}

footer {
    background-color: #002080;
    color: white;
    padding: 0.5rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 0.7rem;
}